* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    position: relative;
    overflow: hidden;
}

.box {
    position: absolute;
    display: grid;
    align-content: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    border: 3px solid rgb(0, 0, 0);
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(110, 0, 0);
    color: white;
}